.owf {
  display: inline-block;
  font: normal normal normal 14px/1 owfont;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  background-size: contain;
}
.owf-01d {
  background-image: url("font/01d.png");
}
.owf-01n{
  background-image: url("font/01n.png");
}
.owf-02d,
.owf-03d,
.owf-04d{
  background-image: url("font/02d.png");
}
.owf-02n,
.owf-03n,
.owf-04n{
  background-image: url("font/02n.png");
}
.owf-09d{
  background-image: url("font/09d.png");
}
.owf-09n{
  background-image: url("font/09n.png");
}
.owf-10d{
  background-image: url("font/10d.png");
}
.owf-10n{
  background-image: url("font/10n.png");
}
.owf-11d{
  background-image: url("font/11d.png");
}
.owf-11n{
  background-image: url("font/11n.png");
}
.owf-13d{
  background-image: url("font/13d.png");
}
.owf-13n{
  background-image: url("font/13n.png");
}
.owf-50d{
  background-image: url("font/50d.png");
}
.owf-50n{
  background-image: url("font/50n.png");
}
